apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: jupyter
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: jupyter
    spec:
      containers:
      - name: jupyter
        image: registryfin.azurecr.io/ubuntu-jupyter:1.0
        ports:
        - containerPort: 8888
        resources:
          requests:
            cpu: 250m
          limits:
            cpu: 500m
        volumeMounts:
        - mountPath: "/home/guest/workdir"
          name: volume-jupyter
      imagePullSecrets:
      - name: eiei
      volumes:
      - name: volume-jupyter
        persistentVolumeClaim:
          claimName: azurefile
---
apiVersion: v1
kind: Service
metadata:
  name: jupyter-service
spec:
  type: LoadBalancer
  ports:
  - name: jupyter
    port: 8888
    targetPort: 8888
  selector:
    app: jupyter

