apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose --file docker-compose.yml convert
    kompose.version: 1.10.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: spark-master
  name: spark-master
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: spark-master
    spec:
      containers:
      - args:
        - bin/spark-class
        - org.apache.spark.deploy.master.Master
        - -h
        - spark-master
        env:
        - name: MASTER
          value: spark://spark-master:7077
        - name: SPARK_CONF_DIR
          value: /conf
        - name: SPARK_PUBLIC_DNS
          value: 192.168.99.100
        image: spark
        name: spark-master
        ports:
        - containerPort: 4040
        - containerPort: 6066
        - containerPort: 7077
        - containerPort: 8080
        resources: {}
      restartPolicy: Always
status: {}
